
<h1>List of All Breweries</h1>
<div class="wrapper">
  <div class="card-columns">
  <div class="card" *ngFor="let aBrewery of breweries" style="width: 20vw">
        <h2 class="card-title">{{aBrewery.name}}</h2>
        <hr />
        <div class="card-body">
        <p>{{aBrewery.address}}</p>
        <p>{{aBrewery.city}}</p>
        <p>{{aBrewery.state}}</p>
        <p>{{aBrewery.zip}}</p>
        <p>{{aBrewery.phone}}</p>
        <p>{{aBrewery.site}}</p>
        <hr />
        <p><a [routerLink]="['/breweries', aBrewery._id, 'beers']" class="btn btn-primary" role="button">View Beers</a>
        <p><a [routerLink]="['/breweries', aBrewery._id, 'add']" class="btn btn-primary" role="button">Add Beers</a>
        </div>
      </div>
    </div>
  </div>
