
<div class="formContainer d-flex">
<div class="loginForm">
<h2>SignUp as an User</h2> <br>
<form (submit)="signingUp()">

  <label for="email">Email</label>
  <input id="email" type="text" name="theEmail" [(ngModel)]="signUpUser.email"><br><br>



  <label>Username</label>
  <input type="text" name="theUsername" [(ngModel)]="signUpUser.username"><br><br>

  <label>Password</label>
  <input type="text" name="thePassword" [(ngModel)]="signUpUser.password"><br><br>
<div class="d-flex justify-content-around">
  <input type="radio" name="role" value="user" [(ngModel)]="signUpUser.role"> Customer
  <input type="radio" name="role" value="brewery" [(ngModel)]="signUpUser.role"> Brewery<br>
</div><br><br>


<div class="breweryForm" *ngIf="signUpUser.role === 'brewery'">
  <h3>Brewery information</h3> <br><br>

  <label>Name</label>
  <input type="text" name="theName" [(ngModel)]="userBrewery.name"><br>

  <label>Adress</label>
  <input type="text" name="theAddress" [(ngModel)]="userBrewery.adress"><br>

  <label>City</label>
  <input type="text" name="theCity" [(ngModel)]="userBrewery.city"><br>
  
  <label>State</label>
  <input type="text" name="theState" [(ngModel)]="userBrewery.state"><br>

  <label>Zip code</label>
  <input type="text" name="theZip" [(ngModel)]="userBrewery.zip"><br>

  <label>Hours of operation</label>
  <input type="text" name="theHours" [(ngModel)]="userBrewery.hours"><br>

  <label>Phone</label>
  <input type="number" name="thePhone" [(ngModel)]="userBrewery.phone"><br>

  <label>Website</label>
  <input type="text" name="theWebsite" [(ngModel)]="userBrewery.site"><br>

  </div>


  


  <button >Register Account</button>
  <br><br>
</form>
<p>
  Already have an account?<a [routerLink]="['/login']" > Login</a>
</p>
</div>

</div>

<p>message: {{theError | json}}</p>
