<h2>Viewing Beer List</h2>
<div class="wrapper">

<div class="card-columns">
  <div class="card" *ngFor="let aBeer of breweriesBeers">
    <h2 class="card-title">{{aBeer.name}}</h2>
    <hr />
    <div class="card-body">
      <p>Brewery ID: {{aBeer.brewery}}</p>
      <p>Description: {{aBeer.description}}</p>
      <p>Alchohol Content:  {{aBeer.alchContent}}</p>
      <p>Price: {{aBeer.price}}</p>
      <a [routerLink]="['/beers', aBeer._id]">See Details</a>
      </div>
    </div>
  </div>
</div>
