<h2>Welcome to the Beer Component Portion</h2>

<hr />
<h2>We can iterate over beers</h2>
  <div class="" *ngFor="let aBeer of breweriesBeers">
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
      <ngb-panel title={{aBeer.name}}>
        <ng-template ngbPanelContent>
          <p> {{aBeer.brewery}}</p>
          <p> {{aBeer.description}}</p>
          <p> {{aBeer.alchContent}}</p>
          <p> {{aBeer.price}}</p>
          <a [routerLink]="['/beers', aBeer._id]">See Details</a>
        </ng-template>
      </ngb-panel>

      <app-add-beer></app-add-beer>