.wrapper{
  position:relative;
  width: 100vw;
  height:75vw;
  z-index: 1;
  background:linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
      ), url('/assets/home-images/HQtaproom.jpg');
      background-size: contain;
      background-repeat: no-repeat;
background-color: white
}
