<div class="container-fluid">
  <div>

    <h1>That Special Drink</h1>

    <h4>{{thatBeer.name}}</h4>
    <br>
    description: {{thatBeer.description}}
    <br>
    alcohol Content: {{thatBeer.alchContent}}
    <br>
    price: {{thatBeer.price}}
      <hr />
    <button (click)="deleteReview(i, oneReview._id)">Remove Review</button>
    <button routerLink="/review/{{oneReview._id}}/edit">Edit Review</button>
  </div>

  <button (click)="removeBeer()">Delete Beer</button>


<app-review [thatBeer]='thatBeer' ></app-review>

<hr>
<h3>Did you like the taste?
  <br>
  <small class="text-muted">Guessing if you can remember the night.</small>
</h3>
<div>

  <div *ngFor = "let reviews of thoseReviews">
    <div *ngFor = "let oneReview of reviews; let i = index">
      Review: {{oneReview.review}}
      <br>
      Rating: {{ oneReview.rating }}
      <div class="text-right">
      -{{oneReview.author.username}}
      </div>
      <button (click)="deleteReview(i, oneReview._id)">Remove Review</button>
      <!-- <button routerLink="/review/{{oneReview._id}}/edit">Edit Review</button> -->

      <hr />
    </div>
</div>

</div>

</div>
