
<form (ngSubmit)="aNewReview(thatBeer._id)">
  <h3>Leave a Review</h3>

  <label>Review</label>
  <br>
  <textarea name="theReview" cols="30" rows="3" maxlength="150" [(ngModel)]="userReview.review"></textarea>
<!-- ngModel gets the data on the page as wee as we use it to pick up data from the page, that's why it has square and regular parenthesis -->
<br>  
<label>Rating</label>
  <br>
  <input type="number" max="5" min="1" name="theRating" [(ngModel)]="userReview.rating">
<br>
  <button>Add Review</button>
</form>
<hr>