<nav class="theNavBar navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]='[""]'>Brew-Crew</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/signup']"> Signup </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/breweries"]'>View Breweries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/beers"]'>View All Beers</a>
      </li>
    </ul>
  </div>
</nav>
