
<div class="first-image d-flex flex-wrap justify-content-center align-items-center" data-parallax="true">

  <h2 class="title1 ">
    Find My Beer
  </h2>

</div>




<div class="first-part d-flex flex-wrap justify-content-center align-items-center">
  <div class="d-flex flex-wrap justify-content-center align-items-center">
  <h2>Did you ever wish to remember what happened last night?
  <br> <br>
  
    We know your friends will take care of this...
  </h2>
</div>
</div>


<div class=" gifs d-flex flex-row flex-wrap">
  <img class="sometimes-grow" src="/assets/home-images/giphy.gif" alt="" srcset="">
  <img class="sometimes-grow" src="/assets/home-images/drunk2.gif" alt="" srcset="">
  <img class="grow" src="/assets/home-images/drunk3.gif" alt="" srcset="">
    <!-- <iframe src="https://giphy.com/embed/5cLqQQK3VvxMA" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/5cLqQQK3VvxMA">via GIPHY</a></p> -->
</div>

<div class="first-part d-flex flex-wrap justify-content-center align-items-center">

  <h2>
    ... We will take of the beers you tried
    <br>
    <br>
    <a  (click)="disappearButtons()" class="nav-link" [routerLink]="['/signup']"> Signup </a>
  </h2>
</div>


